<!DOCTYPE html>
<html lang="pt-br"
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Login</title>
</head>
<body>

    <div class="login">

        <div class="user">
        <img src="img/kisspng-clip-art-portable-network-graphics-computer-icons-user-staff-person-man-profile-boss-circle-svg-png-5b62ed563414a0.0114928715332099422133.png">
        </div>
        <div class="tituloLogin">
            <h1>
                Login
            </h1>
        </div>

        <form action="">
            <input type="email" name="email" id="email" placeholder="E-mail" required>
            <input type="password" name="senha" id="senha" placeholder="Senha" required>

            <div class="exibirSenha">
                <input type="checkbox" name="verSenha" id="verSenha">
                <label for="verSenha">Exibir senha ?</label>
            </div>

            <div class="botao">
               <a onclick="logar()"> <input type="submit" value="Entrar" id="entrar"></a>
            </div>
        </form>

        <div class="registro">
            <p><a href="index.html">Registrar nova conta</a></p>
        </div>

    </div>




    
</body>
</html>