* {
    font-family: 'Cairo', sans-serif;
}

.usuario {
    height: 10px;
    width: 3%;
    display: flex;
}

.usuario img {
    width: 100%;
}

.integrado a {
    color: black;
    text-decoration: none;
}