<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="inicial.css">
    <title>Página Inicial</title>
</head>
<body>
    <header>
        <h1 class="integrado">
            <a href="index.html">Integrado</a>
        </h1>
        <div class="usuario">
            <img src="img/kisspng-clip-art-portable-network-graphics-computer-icons-user-staff-person-man-profile-boss-circle-svg-png-5b62ed563414a0.0114928715332099422133.png" alt="">
            <p>Usuário</p>
        </div>
    </header>
</body>
</html>