<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Registro</title>
</head>
<body>
    
    <div class="registro">

        <div class="tituloRegistro">
            <h1>
                Cadastro
            </h1>
        </div>

        <form action="">
            <input class='nome' type="text" placeholder="Nome Completo" required>
            <div class="email">
                <input type="email" name="email" placeholder="E-mail" id="emailReg" required>
                <input type="email" name="email" placeholder="Confirme seu E-mail" id="emailReg" required>
            </div>

            <div class="senha">
                <input type="password" name="senha" placeholder="Senha" id="senhaReg" required>
                <input type="password" name="senha" placeholder="Confirme sua Senha" id="senhaReg" required>
            </div>

            <div class="exibirSenha">
                <input type="checkbox" name="verSenha" id="verSenha">
                <label for="verSenha">Exibir senha ?</label>
            </div>

            <div class="botao">
                <input type="submit" value="Cadastrar" id="entrar">
            </div>
        </form>

        <p><a href="login.html">Já possui uma conta ?</a></p>
    </div>



</body>
</html>