* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.user {
    display: flex;
    justify-content: center;
}

.user img {
    width: 50%;
}

.tituloLogin, .tituloRegistro {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.login, .registro {
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    padding: 50px;
    background-color: pink;
    border-radius: 10px;
}

#email {
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
}

#senha {
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
}

.exibirSenha {
    display: flex;
    margin-bottom: 30px;
    font-size: 15px;
    align-items: center;
}

.botao {
    display: flex;
    justify-content: center;
}

#entrar {
    cursor: pointer;
    padding: 5px 25px;
    border-radius: 10px;
    border: none;
    transition: 400ms;
    font-size: 20px;
    margin-bottom: 30px;
}

#entrar:hover {
    background-color: gray;
    transform: scale(1.05);
}

.registro {
    display: flex;
    justify-content: center;
}

.email, .senha {
    display: flex;
    justify-content: center;
}

.nome {
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
}

#emailReg, #senhaReg {
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    margin: 20px 10px;
}
